@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 83.1%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.container {
		@apply mx-auto max-w-6xl;
	}

	.section-header {
		@apply text-3xl font-semibold tracking-tight;
	}

	.animated-mesh {
		--y-0: 55%;
		--x-0: 52%;
		--c-0: hsla(224, 89%, 50%, 0.87);
		--y-1: 57%;
		--x-1: 51%;
		--c-1: hsla(44, 89%, 50%, 0.75);
		--y-2: 52%;
		--c-2: hsla(145, 100%, 35%, 0.7);
		--x-2: 53%;
		--c-3: hsla(133, 100%, 26%, 0.6);
		--y-3: 52%;
		--x-3: 39%;
		--y-4: 29%;
		--x-4: 11%;
		--c-4: hsla(120, 100%, 12%, 0.4);
		background-color: hsl(224, 89%, 50%);
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 3000 3000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
			radial-gradient(
				circle at var(--x-0) var(--y-0),
				var(--c-0) var(--s-start-0),
				transparent var(--s-end-0)
			),
			radial-gradient(
				circle at var(--x-1) var(--y-1),
				var(--c-1) var(--s-start-1),
				transparent var(--s-end-1)
			),
			radial-gradient(
				circle at var(--x-2) var(--y-2),
				var(--c-2) var(--s-start-2),
				transparent var(--s-end-2)
			),
			radial-gradient(
				circle at var(--x-3) var(--y-3),
				var(--c-3) var(--s-start-3),
				transparent var(--s-end-3)
			),
			radial-gradient(
				circle at var(--x-4) var(--y-4),
				var(--c-4) var(--s-start-4),
				transparent var(--s-end-4)
			);
		animation: hero-gradient-animation 15s linear infinite alternate;
		background-blend-mode: overlay, normal, normal, normal, normal, normal;
	}
}

/* Keyframes */
@keyframes hero-gradient-animation {
	0% {
		--s-start-0: 5.192107995846314%;
		--s-end-0: 28.82903247805523%;
		--y-0: 55%;
		--x-0: 52%;
		--c-0: hsla(224, 89%, 50%, 0.87);
		--y-1: 57%;
		--x-1: 51%;
		--c-1: hsla(44, 89%, 50%, 0.75);
		--s-start-1: 10.430019105334893%;
		--s-end-1: 56.99147659571124%;
	}

	50% {
		--s-start-0: 5.192107995846314%;
		--s-end-0: 28.82903247805523%;
		--y-0: 34%;
		--x-0: 18%;
		--c-0: hsla(224, 89%, 50%, 0.87);
		--y-1: 42%;
		--x-1: 75%;
		--c-1: hsla(44, 89%, 50%, 0.75);
		--s-start-1: 9.651760651934062%;
		--s-end-1: 51.01482209931529%;
	}

	100% {
		--s-start-0: 5.192107995846314%;
		--s-end-0: 28.82903247805523%;
		--y-0: 70%;
		--x-0: 86%;
		--c-0: hsla(224, 89%, 50%, 0.87);
		--y-1: 67%;
		--x-1: 23%;
		--c-1: hsla(44, 89%, 50%, 0.75);
		--s-start-1: 8.731020284714111%;
		--s-end-1: 47.01937710929387%;
	}
}

@property --s-start-0 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 5.192107995846314%;
}

@property --s-end-0 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 28.82903247805523%;
}

@property --y-0 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 55%;
}

@property --x-0 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 52%;
}

@property --c-0 {
	syntax: '<color>';
	inherits: false;
	initial-value: hsla(224, 89%, 50%, 0.87);
}

@property --y-1 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 57%;
}

@property --x-1 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 51%;
}

@property --c-1 {
	syntax: '<color>';
	inherits: false;
	initial-value: hsla(44, 89%, 50%, 0.6);
}

@property --s-start-1 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 10.430019105334893%;
}

@property --s-end-1 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 56.99147659571124%;
}

@property --y-2 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 52%;
}

@property --c-2 {
	syntax: '<color>';
	inherits: false;
	initial-value: hsla(145, 100%, 35%, 0.87);
}

@property --s-start-2 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 2%;
}

@property --s-end-2 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 141.78768296603226%;
}

@property --x-2 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 53%;
}

@property --s-start-3 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 6%;
}

@property --s-end-3 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 68%;
}

@property --c-3 {
	syntax: '<color>';
	inherits: false;
	initial-value: hsla(133, 100%, 26%, 0);
}

@property --y-3 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 52%;
}

@property --x-3 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 39%;
}

@property --y-4 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 29%;
}

@property --x-4 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 11%;
}

@property --s-start-4 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 8%;
}

@property --s-end-4 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 74%;
}

@property --c-4 {
	syntax: '<color>';
	inherits: false;
	initial-value: hsla(120, 100%, 12%, 0);
}
